<meta charset="utf-8">

{%- if page.redirect.to -%}
<meta http-equiv="refresh" content="1; url={{ page.redirect.to }}">
{%- endif -%}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon_ios | relative_url }}">
<link rel="icon" sizes="32x32" href="{{ site.favicon_legacy | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ site.favicon_svg_xml | relative_url }}">
<link rel="manifest" href="{{ site.webmanifest | relative_url }}">
<meta name="msapplication-TileColor" content="{{ site.ms_tile_color | default: '#888888' }}">

{% seo %}

{%- if page.noindex or layout.noindex -%}
<meta name='robots' content='noindex'>
{%- endif -%}

{% feed_meta %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js" async></script>

{%- if page.custom_js -%}
{%- for js_url in page.custom_js -%}
<script type="text/javascript" src="{{ js_url }}" async></script>
{%- endfor -%}
{%- endif -%}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

{%- if page.fonts contains "literature" -%}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/literature.css">
{%- endif -%}

{%- if page.dropcap -%}
<style>article>p:nth-of-type(1):first-letter { initial-letter: 2; font-feature-settings: "swsh"; }</style>
{%- endif -%}

{%- if page.custom_head -%}
{{ page.custom_head }}
{%- endif -%}