<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon_ios | relative_url }}">
<link rel="icon" sizes="32x32" href="{{ site.favicon_legacy | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ site.favicon_svg_xml | relative_url }}">
<link rel="manifest" href="{{ site.webmanifest | relative_url }}">
<meta name="msapplication-TileColor" content="{{ site.ms_tile_color | default: '#888888' }}">

{% seo %}

{%- if page.noindex -%}
<meta name='robots' content='noindex'>
{%- endif -%}

{%- if page.redirect.to -%}
<meta http-equiv="refresh" content="1; url={{ page.redirect.to }}">
{%- endif -%}

{% feed_meta %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

{%- if page.categories contains "literature" -%}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/literature.css">
{%- endif -%}

{%- if page.dropcap -%}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/drop_cap.css">
{%- endif -%}

<script src="{{ site.baseurl }}/assets/js/main.js" async></script>

{%- if page.custom_js -%}
{%- for js_file in page.custom_js -%}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js" async></script>
{%- endfor -%}
{%- endif -%}

{%- if page.custom_head -%}
{{ page.custom_head }}
{%- endif -%}