{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-for post in posts-%}
  {%-assign page.sort_date = last_modified_at | default: date-%}
{%- endfor -%}
{%- assign sorted_posts = posts | sort: "sort_date" -%}

{%-if include.limit and sorted_posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if sorted_posts.size > 0 -%}
  <ul>
    {%- for post in sorted_posts limit: include.limit -%}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}