{%- if page.type == "year" -%}{%- assign date_format = "%Y" -%}
{%- elsif page.type == "month" -%}{%- assign date_format = "%Y-%m" -%}
{%- elsif page.type == "day" -%}{%- assign date_format = "%Y-%m-%d" -%}
{%- endif -%}
{%- assign target_date_str = page.date | date: date_format -%}

{%- assign created_posts_str = "" -%}
{%- assign modified_posts_str = "" -%}

{%- for post in site.posts -%}
{%- assign p_created_date = post.date | date: date_format -%}
{%- assign p_modified_date = post.last_modified_at | date: date_format -%}

{%- if p_created_date == target_date_str -%}
{%- if created_posts_str == "" -%}{%- assign created_posts_str = post.url -%}{%- else -%}{%- assign created_posts_str = created_posts_str | append: "," | append: post.url -%}{%- endif -%}
{%- endif -%}

{%- if post.last_modified_at and p_modified_date == target_date_str and p_created_date != target_date_str -%}
{%- if modified_posts_str == "" -%}{%- assign modified_posts_str = post.url -%}{%- else -%}{%- assign modified_posts_str = modified_posts_str | append: "," | append: post.url -%}{%- endif -%}
{%- endif -%}
{%- endfor -%}

{%- assign lang_prefix = site.lang | slice: 0, 2 -%}
{%- assign created_urls = created_posts_str | split: "," -%}
{%- assign modified_urls = modified_posts_str | split: "," -%}

<ul class="post-list">
  <li>{%- if lang_prefix == "zh" -%}发布{%- else -%}Published{%- endif -%}</li>
  <ul class="post-list">
    {%- if created_posts_str != "" and created_urls.size > 0 -%}
    {%- assign filtered_created_posts = "" | split: "" -%}
    {%- for t_url in created_urls -%}
    {%- assign matched_post = site.posts | where: "url", t_url -%}
    {%- assign filtered_created_posts = filtered_created_posts | concat: matched_post -%}
    {%- endfor -%}

    {%- assign sorted_created_posts = filtered_created_posts | sort: "date" | reverse -%}

    {%- for target_post in sorted_created_posts -%}
    {%- assign is_redirect = target_post.redirect.to != nil -%}
    {%- assign link_href = target_post.redirect.to | default: target_post.url -%}
    <li><a href="{{ link_href | relative_url }}" {% if is_redirect %} target="_blank" {% endif %}>{{ target_post.date | date: "%Y-%m-%d" }}&nbsp;{{ target_post.title }}</a></li>
    {%- endfor -%}
    {%- endif -%}
  </ul>
  <li>{%- if lang_prefix == "zh" -%}更新{%- else -%}Updated{%- endif -%}</li>
  <ul class="post-list">
    {%- if modified_posts_str != "" and modified_urls.size > 0 -%}
    {%- assign filtered_modified_posts = "" | split: "" -%}
    {%- for t_url in modified_urls -%}
    {%- assign matched_post = site.posts | where: "url", t_url -%}
    {%- assign filtered_modified_posts = filtered_modified_posts | concat: matched_post -%}
    {%- endfor -%}

    {%- assign sorted_modified_posts = filtered_modified_posts | sort: "last_modified_at" | reverse -%}

    {%- for target_post in sorted_modified_posts -%}
    {%- assign is_redirect = target_post.redirect.to != nil -%}
    {%- assign link_href = target_post.redirect.to | default: target_post.url -%}
    <li><a href="{{ link_href | relative_url }}" {% if is_redirect %} target="_blank" {% endif %}>{{ target_post.last_modified_at | date: "%Y-%m-%d" }}&nbsp;{{ target_post.title }}</a></li>
    {%- endfor -%}
    {%- endif -%}
  </ul>
</ul>