{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if site.theme_config.sort_by_updated_date-%}
  {%-for post in posts-%}
    {%-assign sort_date = post.last_modified_at | default: post.date-%}
  {%- endfor -%}
  {%- assign posts = posts | sort: 'sort_date' -%}
{%-endif-%}


{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul>
    {%- for post in posts limit: include.limit -%}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}