{%- if page.type == "recent" -%}
  {%- assign this_year = site.time | date: "%Y" -%}
  {%- assign last_year = this_year | minus: 1 -%}
  {%- assign start_date_str = site.time | date: "%m-%d" | prepend: "-" | prepend: last_year -%}
  {%- assign end_date_str = site.time | date: "%Y-%m-%d" -%}
{%- else -%}  
  {%- if page.type == "day" -%}
    {%- assign start_date_str = page.date | date: "%Y-%m-%d" -%}
    {%- assign end_date_str = page.date | date: "%Y-%m-%d" -%}
  {%- elsif page.type == "month" -%}
    {%- assign start_date_str = page.date | date: "%Y-%m-01" -%}
    {%- assign end_date_str = page.date | date: "%Y-%m-31" -%}
  {%- else -%}
    {%- assign start_date_str = page.date | date: "%Y-01-01" -%}
    {%- assign end_date_str = page.date | date: "%Y-12-31" -%}
  {%- endif -%}
{%- endif -%}

{%- assign filtered_created_posts = "" | split: "" -%}
{%- assign filtered_modified_posts = "" | split: "" -%}

{%- for post in site.posts -%}
  {%- assign p_created_str = post.date | date: "%Y-%m-%d" -%}
  {%- assign p_modified_str = post.last_modified_at | default: post.date | date: "%Y-%m-%d" -%}

  {%- if p_created_str >= start_date_str and p_created_str <= end_date_str -%}
    {%- assign current_post_array = "" | split: "" | push: post -%}
    {%- assign filtered_created_posts = filtered_created_posts | concat: current_post_array -%}
  {%- endif -%}

  {%- if post.last_modified_at and p_modified_str >= start_date_str and p_modified_str <= end_date_str and p_created_str < start_date_str -%}
    {%- assign current_post_array = "" | split: "" | push: post -%}
    {%- assign filtered_modified_posts = filtered_modified_posts | concat: current_post_array -%}
  {%- endif -%}
{%- endfor -%}

{%- assign lang_prefix = site.lang | slice: 0, 2 -%}

<ul class="post-list">
  <li>{%- if lang_prefix == "zh" -%}发布{%- else -%}Published{%- endif -%}</li>
  <ul class="post-list">
    {%- if filtered_created_posts.size > 0 -%}
      {%- assign sorted_created_posts = filtered_created_posts | sort: "date" | reverse -%}

      {%- for target_post in sorted_created_posts -%}
        {%- assign is_redirect = target_post.redirect.to != nil -%}
        {%- assign link_href = target_post.redirect.to | default: target_post.url -%}
        <li><a href="{{ link_href | relative_url }}" {% if is_redirect %} target="_blank" {% endif %}>{{ target_post.date | date: "%Y-%m-%d" }}&nbsp;{{ target_post.title }}</a></li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
  
  <li>{%- if lang_prefix == "zh" -%}更新{%- else -%}Updated{%- endif -%}</li>
  <ul class="post-list">
    {%- if filtered_modified_posts.size > 0 -%}
      {%- assign sorted_modified_posts = filtered_modified_posts | sort: "last_modified_at" | reverse -%}

      {%- for target_post in sorted_modified_posts -%}
        {%- assign is_redirect = target_post.redirect.to != nil -%}
        {%- assign link_href = target_post.redirect.to | default: target_post.url -%}
        <li><a href="{{ link_href | relative_url }}" {% if is_redirect %} target="_blank" {% endif %}>{{ target_post.last_modified_at | date: "%Y-%m-%d" }}&nbsp;{{ target_post.title }}</a></li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
</ul>