{%- if include.category -%}
{%- assign posts = site.categories[include.category] -%}
{%- else -%}
{%- assign posts = page.posts | default: site.posts -%}
{%- endif -%}

{%- if include.limit and posts.size > include.limit -%}
{%- assign limit_exceeded = true -%}
{%- else -%}
{%- assign limit_exceeded = false -%}
{%- endif -%}

{%- if posts.size > 0 -%}
{%- assign sortable_posts_str = "" -%}
{%- for post in posts -%}

{%- assign created_ts = post.date | date: "%s" | plus: 0 -%}

{%- if post.last_modified_at -%}
{%- assign mod_ts = post.last_modified_at | date: "%s" | plus: 0 -%}
{%- else -%}
{%- assign mod_ts = 0 -%}
{%- endif -%}

{%- if mod_ts > created_ts -%}
{%- assign final_ts = mod_ts -%}
{%- else -%}
{%- assign final_ts = created_ts -%}
{%- endif -%}

{%- assign post_record = final_ts | append: "::" | append: post.url -%}

{%- if forloop.first -%}
{%- assign sortable_posts_str = post_record -%}
{%- else -%}
{%- assign sortable_posts_str = sortable_posts_str | append: "," | append: post_record -%}
{%- endif -%}

{%- endfor -%}

{%- assign sorted_keys = sortable_posts_str | split: "," | sort | reverse -%}

<ul class="post-list">
  {%- for key in sorted_keys limit: include.limit -%}

  {%- assign target_url = key | split: "::" | last -%}

  {%- assign target_post = posts | where: "url", target_url | first -%}

  {%- if target_post -%}
  <li><a href="{{ target_post.url | relative_url }}">{{ target_post.title }}</a></li>
  {%- endif -%}

  {%- endfor -%}

  {%- if include.show_more and limit_exceeded -%}
  <li><a href="{{ include.show_more_url | relative_url }}">{{ include.show_more_text | default: "..." }}</a></li>
  {%- endif -%}
</ul>
{%- endif -%}