html {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  td {
    border-color: white;
  }

  tbody>tr:nth-child(odd) {
    background-color: #ffffff;
  }

  thead>tr,
  tbody>tr:nth-child(even),
  blockquote,
  #toc-panel {
    background-color: #f7f7f7;
  }

  blockquote {
    border-left-color: #eeeeee;
  }

  code {
    color: lightcoral;
  }

  code,
  div>pre {
    background-color: aliceblue;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: white;
  }

  td {
    border-color: #1c1c1c;
  }

  tbody>tr:nth-child(odd) {
    background-color: #101010;
  }

  thead>tr,
  tbody>tr:nth-child(even),
  blockquote,
  #toc-panel {
    background-color: #282828;
  }

  blockquote {
    border-left-color: #101010;
  }

  code {
    color: springgreen;
  }

  code,
  div>pre {
    background-color: black;
  }

  img {
    filter: brightness(0.875);
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
}

a {
  color: inherit;
}

a:hover {
  color: lightslategray;
}

mark {
  color: white;
  background-color: lightslategray;
}

:target {
  background-color: #7f7f7f1c;
}

#toc-panel,
.table-wrapper,
blockquote,
div>pre,
img {
  filter: drop-shadow(0 0 2px #00000022);
}