body {
  font-family: "CCSymbols", "Avenir Next", "Segoe UI", "HarmonyOS Sans", "Clear Sans", "PingFang SC", "Source Han Sans SC VF", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN VF", "Noto Sans SC", "Source Han Sans CN", "Sarasa Gothic SC", sans-serif;
  font-synthesis: weight;
  font-kerning: normal;
}

blockquote, q, footer, .post-meta, .footnotes {
  font-family: "CCSymbols", "Ysabeau", "LXGW WenKai", "LXGW Bright", "LXGW WenKai Lite", "STXihei", "Hiragino Sans GB", sans-serif;
}

code, {
  font-family: "CCSymbols", "NeoXiHei Code", "Sarasa Mono SC", "Maple Mono CN", "Ubuntu Mono", "Inconsolata", "JetBrains Mono", "Monaco", "Source Code Pro", "Source Han Sans HW SC", "Noto Sans Mono CJK SC", "Wenquanyi Micro Hei Mono", monospace;
}

th,td {
  font-family: "CCSymbols", "SF Pro Condensed", "SF Condensed", "Segoe UI Condensed", "HarmonyOS Sans Condensed", "Roboto Condensed", "Helvetica Neue Condensed", "Ubuntu Condensed", "Ubuntu Mono", "Inconsolata", sans-serif-condensed, system-ui, sans-serif;
  font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

.post-list { 
  font-variant-numeric: tabular-nums;
}

time {
  font-variant-numeric: tabular-nums oldstyle-nums;
}

em {
  font-synthesis: style;
}