<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale }}">

<head>
  {%-include head.html-%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post_list.css">
</head>

<body>
  <main class="page-content" aria-label="Content">
    <header>
      <h1>{{ site.title }}</h1>
      {%-if site.theme_config.show_description-%}
        <p>{{ site.description }}</p>
      {%-endif-%}
    </header>
    {%-include menu_item.html collection=site.data.menu.entries-%}
    {{ content }}
  </main>
</body>

</html>