---
layout: default
---

<nav id="top"><a href="{{ site.baseurl | default: '/' }}">🏠</a></nav>
<nav id="gototop" style="position: fixed; right: 5vw; bottom: 5vh; visibility: hidden;"><a href="#top">🔝</a></nav>

<article>
  
  <h1>{{ page.title }}</h1>
  
  {%-if page.toc-%}
    {% toc %}<hr>
  {%-endif-%}

  {{ content }}

</article>

<script>

  if (document.body.scrollHeight > window.innerHeight) {
    document.getElementById('gototop').style.visibility = 'visible';
  } else {
    document.getElementById('gototop').style.visibility = 'hidden';
  }

  function wrap(el, wrapper) {
      el.parentNode.insertBefore(wrapper, el);
      wrapper.appendChild(el);
  }
  Array.from(document.getElementsByTagName('table')).forEach(el => {
      const wrapper = document.createElement('section')
      wrapper.style.overflowX = 'auto';
      wrap(el, wrapper)
  })

</script>