---
sitemap: false
noindex: true
canonical_url: ${redirect_to}
---
<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale }}">

<head>
  {%-include head.html-%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
</head>

<body a="{{ site.theme_config.appearance | default: 'auto' }}">
  <main class="page-content" aria-label="Content">
    {%-include nav.html-%}
    <h1>{{ page.title }}</h1>
    <blockquote><a href="{{ page.redirect.to }}" id="url">点击跳转<br>Click to continue...</a></blockquote>
    {{ content }}
  </main>
</body>

<script>
  window.onload=function() {
    window.location = document.getElementById('url').href
  }
</script>

</html>